{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('asset/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <section id="slider" class="container-slider">
        <ul class="slider-wrapper">
            <li class="current-slide">
                <img src="http://i9.photobucket.com/albums/a88/creaticode/1_zpsc6871490.jpg" title="" alt="">
            </li>

            <li>
                <img src="http://i9.photobucket.com/albums/a88/creaticode/2_zps6ccd36bd.jpg" title="" alt="">
            </li>

            <li>
                <img src="http://i9.photobucket.com/albums/a88/creaticode/4_zps611bc9f9.jpg" title="" alt="">
            </li>

            <li>
                <img src="http://i9.photobucket.com/albums/a88/creaticode/3_zps70e4fcc5.jpg" title="" alt="">
            </li>
        </ul>
        <!-- Sombras -->
        <div class="slider-shadow"></div>

        <!-- Controles de Navegacion -->
        <ul id="control-buttons" class="control-buttons"></ul>
    </section>
    <section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('asset/js/index.js') }}"></script>
{% endblock %}
