/*-- CSS NAVBAR --*/
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
}
.navbar-custom .navbar-toggle {
    color: red;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
    outline: none;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
    outline: none;
}
.navbar-custom a {
    color: black;
}
.top-nav-collapse a {
    color: red;
}
.navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: none;
    background-color: transparent;
}
.navbar-custom .nav li.active {
    outline: none;
}
.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
    color: white;
}
@media (min-width: 990px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-custom a {
        color: red;
    }
}

/*-- END CSS NAVBAR --*/

/*----------- FOOTER ------------*/

.footer {
    background: #999;
    height: auto;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer p, .copyrights span {
    color: white;
}

.footer .copyrights .visit {
    float: right;
}

.footer .logo_footer img {
    width: 20vw;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #1c4058;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 30px 0 10px;
    text-transform: uppercase;
}

.footer map h3 {
    border-bottom: 0;
}

.footer .social i {
    font-size: 44px;
}

footer .copyrights {
    padding-top: 20px;
    background: #777;
}

footer .copyrights a {
    color: #1c4058;
}

@media (max-width: 767px) {
    .logo_footer{
        text-align: center;
    }
    .footer .logo_footer img {
        width: 60%;
    }
    .footer .copyrights .visit {
        float: none;
    }
}

/*-- END CSS FOOTER --*/
