body {
    font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat';
}

/*-- CSS NAVBAR --*/
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-family: 'Montserrat';
}

#mainNav .navbar-brand {
    color: #BA0A43;
}

#mainNav .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #BA0A43;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #BA0A43;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #18BC9C;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
    }
    #mainNav .navbar-brand {
        font-size: 2em;
        -webkit-transition: font-size 0.3s;
        -moz-transition: font-size 0.3s;
        transition: font-size 0.3s;
    }
    #mainNav .navbar-nav {
        margin-top: 0;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        color: #BA0A43;
        background: #18BC9C;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: #fff;
        background: #18BC9C;
    }
    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

/*-- END CSS NAVBAR --*/

/*-- CSS FOOTER --*/

.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: black;
    color: #fff;
}

.copyright {
    background-color: #090b0c;
}

/*-- END CSS FOOTER --*/

a {
    color: #BA0A43;
}

a:focus, a:hover, a:active {
    color: #128f76;
}

.btn {
    border-width: 2px;
}

.bg-primary {
    background-color: black !important;
}

.bg-secondary {
    background-color: #090b0c !important;
}

.text-primary {
    color: #18BC9C !important;
}

.text-secondary {
    color: black !important;
}

.text-red {
    color: #C80045;
}

.btn-primary {
    background-color: #18BC9C;
    border-color: #18BC9C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #128f76;
    border-color: #128f76;
}

.btn-secondary {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #1a252f;
    border-color: #1a252f;
}