{% extends 'base.html.twig' %}

{% block body %}

    <section style="padding-top: 60px">
        <h1>test</h1>
        <form action="{{ path('payment',{ 'priceToken': (test)}) }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_Y5Su60LoV0q3eNA5znXiDnMn"
                    data-amount="{{ amount }}"
                    data-name="Stripe demo"
                    data-description="{{ description }}"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-currency="eur"
                    data-zip-code="true" >
            </script>
        </form>
    </section>
{% endblock %}